@model RCTH.Models.ViewModels.ArticleListViewModel;
@{
    this.ViewData["Title"] = "All Blog Articles ";
}

<div class="all-articles-wrapper">
    @if (!Model.Articles.Any())
    {
    <h3>
       Все още няма добавени статии
    </h3>
    }
    @foreach (var article in this.Model.Articles)
    {

        <a asp-action="ById" asp-route-id="@article.Id">
            <div class="article-wrapper">
                <h3>
                    @article.Title
                </h3>
                <p>@article.ShortContent</p>
                @*<p>@article.AuthorName</p>*@

            </div>
        </a>
    }
</div>

