@model RCTH.Models.ViewModels.ArticleListViewModel;
@{
    this.ViewData["Title"] = "All Blog Articles ";
}

<div class="all-articles-wrapper">
    @foreach (var article in this.Model.Articles)
    {
    <div class="article-wrapper">
        <h3>
            @article.Title
        </h3>
        <p>@article.Content</p>
        <p>@article.AuthorName</p>

        <a asp-action="ById" asp-route-id="@article.Id">Details</a>
    </div>
    }
</div>

