<section class="questions">
   <h1>Моля отговорете на тези въпроси, за да разберете дали можете да дарите кръв</h1>
    
    <form action="">
        <label for="age">
            Възраст:
            <input type="number">
        </label>
        <label for="age">
            Тегло:
            <input type="number">
        </label>
        <div>
            Чувствате ли се здрав?:
            <input type="radio" id="yes" name="healthy" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="healthy" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Давали ли сте досега кръв? Ако ДА, кога за последен път?:
            <input type="radio" id="yes" name="question3" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question3" value="female">
            <label for="no">Не</label>
            <input type="date" name="date">
            <label for="date"></label>
        </div>
        <div>
            Имате ли рискови професии или хобита?
            <input type="radio" id="yes" name="question4" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question4" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            За жени- била ли сте бременна през последната година?
            <input type="radio" id="yes" name="question5" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question5" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Казвали ли са Ви по рано, че не бива да дарявате кръв?
            <input type="radio" id="yes" name="question6" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question6" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Преливали ли са Ви кръв и други кръвни състаавки? Ако ДА, кога?
            <input type="radio" id="yes" name="question7" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question7" value="female">
            <label for="no">Не</label>
            <input type="date" name="date">
            <label for="date"></label>
        </div>
        <div>
            Имали ли сте напоследък немотивирана температура,отслабване на тегло, увеличаване на лимфни възли?
            <input type="radio" id="yes" name="question8" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question8" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Приемате ли в момента лекарства, включително аспирин?
            <input type="radio" id="yes" name="question9" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question9" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Имате ли скорошни имунизации, зъболечение?
            <input type="radio" id="yes" name="question10" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question10" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            <p>От последното ви даряване или предшестващите 12 месеца имали ли сте:</p>
            <div>
                Хирургична интервенция?
                <input type="radio" id="yes" name="question11" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question11" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Татуировка, боди пирсинг, акупунктура?
                <input type="radio" id="yes" name="question12" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question12" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Случайно нараняване, включващо експозиция с кръв чрез убождане с игла или през мукозни мембрани?
                <input type="radio" id="yes" name="question13" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question13" value="female">
                <label for="no">Не</label>
            </div>
        </div>
        <div>
            <p>Боледували ли сте от:</p>
            <div>
                Жълтеница
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Малария
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Туберкулоза
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Ревматизъм
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Сърдечно заболяване, високо или ниско кръвно налягане?
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Алергия, астма
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Гърчове или заболявания като диабет или други ендокринни заболявания
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
            <div>
                Злокачествени заболявания
                <input type="radio" id="yes" name="question4" value="yes">
                <label for="yes">Да</label>
                <input type="radio" id="no" name="question4" value="female">
                <label for="no">Не</label>
            </div>
        </div>
        <div>
            Инжектирали ли сте си някога наркотици?
            <input type="radio" id="yes" name="question14" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question14" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Преценявате ли, че сте имали поведение, излагащо Ви на риск от заразяване от СПИН и други болести, предаващи се по полов и/или кръвен път (случайни полови контакти, честа смяна на сексуалните партньори, сексуални контакти с проституиращи или наркомани?
            <input type="radio" id="yes" name="question15" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question15" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Имали ли сте контакт с хепатит(в семейна или професионална среда)?
            <input type="radio" id="yes" name="question16" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question16" value="female">
            <label for="no">Не</label>
        </div>
        <div>
            Роден ли сте или живял ли сте и/или пътували в чужбина?
            <input type="radio" id="yes" name="question17" value="yes">
            <label for="yes">Да</label>
            <input type="radio" id="no" name="question17" value="female">
            <label for="no">Не</label>
            <input type="date" name="date">
            <label for="date"></label>
        </div>
    </form>
</section>