@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #69686D;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    display: flex;
    background: #F5F5F6;
    min-height: 100vh;
}


header {
    box-shadow: #f4dfdf6b 0px 2px 20px 6px;
    z-index: 1;
    background-color: white;
}

a, a:hover {
    text-decoration: none;
}

h2 {
    color: #4BA3C7;
}

h3 {
    color: #81D4FA;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-content {
    padding: 140px 0;
    max-width: 85%;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
    justify-content: space-around;
}

.logo-wrapper {
    display: flex;
    max-width: 40%;
    padding: 20px 0;
    justify-content: center;
}

    .logo-wrapper h1 {
        font-size: 12px;
        max-width: 50%;
        color: #5758A8;
    }


    .logo-wrapper img {
        width: 50px;
        padding-right: 10px;
    }


header ul {
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
}

.navigarion-list-item {
    font-size: 10px;
    padding: 10px;
    background-color: #D04343;
    color: white;
    margin: 0 5px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 80px;
}

    .navigarion-list-item .white {
        color: white;
    }

.menu-hidden {
    display: none;
}

.black {
    color: #212529;
}

header .navigarion-list li:hover {
    background-color: #B63B3B;
}

@media all and (max-width: 768px) {
    header .navigarion-list {
        display: none;
    }

    .menu-hidden {
        display: block;
    }
}

footer {
    background: #626262;
    margin-top: 30px;
    border: none;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
}

    .footer-content div {
        color: #F5F5F6;
        display: flex;
        flex-direction: column;
        margin: 40px 20px;
    }

    .footer-content a {
        color: #F5F5F6;
        text-decoration: none;
    }

    .footer-content p {
        margin: 0;
        padding: 0
    }

@media all and (max-width: 768px) {
    .footer-content {
        flex-direction:column;
    }
}

/*DROPDOWN*/



.dropdown-content button {
    background: none;
    border: none;
}

.dropdown-btn-custom,
.dropdown-btn-custom:focus {
    background: none;
    border: none;
    outline: none;
    color: white;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: center;
}

    .dropdown-content-item:hover {
        background: #FF867C;
        text-decoration: none;
        color: black;
    }

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {
            background-color: #ddd;
        }*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .questions form {
        display: flex;
        flex-direction: column;
    }

/*Articles*/

.all-articles-wrapper {
    border-top: 2px solid gray;
}

.article-wrapper {
    padding: 40px;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .article-wrapper p,
    .article-wrapper h3,
    .article-wrapper a {
        width: 20%;
    }

    .article-wrapper:hover {
        background: #e5f1fe;
    }

/*FAQ*/
.faq-section {
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.collapsible {
    background-color: #D04343;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 6px;
}

    .collapsible:focus {
        outline: none
    }

    .active, .collapsible:hover {
        background-color: #e07a7a;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

.content {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #fff4f4;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.faq-section-list {
    list-style: none;
    padding: 0;
}

    .faq-section-list li {
        margin: 10px 0;
    }

/*Campaigns*/

.campaigns-section {
    min-height: 40vh;
    max-width: 95%;
    margin: auto;
    padding-bottom: 30px;
}

/*Donation Video*/
.donation-procedure-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

    .donation-procedure-section h2 {
        margin-bottom: 30px;
    }
/*profile details*/
.card-list {
    width: 100%;
}

.card {
    border-radius: 8px;
    color: #000000;
    padding: 10px;
    position: relative;
}

    .card.blue {
        background-color: #24B9ED
    }

    .card.red {
        background-color: #FF6666
    }

    .card.grey {
        background-color: #D5D5D5
    }

    .card.green {
        background-color: #648B55
    }

.donations {
    background-color: #B61827;
    overflow-x: auto;
    width: 100%;
}

.count, .title {
    font-size: 21px;
    display: inline-block;
}

.title {
    margin-left: 1rem;
}


.donations-table {
    background: #e8eff1;
    width: 100%;
}

    .donations-table .td {
        color: white;
        padding: 10px 22px;
        vertical-align: middle;
    }

    .donations-table .th {
        color: white;
        padding: 10px 22px;
        vertical-align: middle;
    }

td p {
    font-size: 12px;
}

th {
    background-color: #FF867C;
}

tr:hover {
    background-color: #EF5350;
}

.donations-header {
    background-color: #B61827
}

.questions {
    max-width: 80%;
    margin: auto;
}

.nav-item {
    background-color: #4BA3C7;
    border-radius: 0.5rem;
}

    .nav-item:hover {
        background-color: #326C84;
        color: #000000
    }

.nav-sidebar a {
    text-decoration: none
}

.nav-sidebar {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #000000
}


/*blood progress bar*/
.progress1 {
    background: rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
}

.progress-value1 {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #B61827;
    height: 30px;
    width: 0;
}

    .progress-value1 span {
        color: #fff;
        font-size: 14px;
        text-align: center;
        display: block;
    }


/*blood bar colors*/
@keyframes load {
    0% {
        width: 0;
    }
}

.progress {
    height: 2rem;
    border-radius: 0.65rem;
    font-size: 1rem;
}

.progress-bar {
    animation: load 3s normal forwards;
}

.bloodcolorA {
    background-color: #e50000;
}

.bloodcolorB {
    background-color: #e50000;
}

.bloodcolorAB {
    background-color: #ff4c4c;
}

.bloodcolor0 {
    background-color: #ff9999;
}

/*Questionnaire*/
.questionnaire {
    max-width: 80%;
    margin: auto;
}

    .questionnaire form {
        display: flex;
        flex-direction: column;
    }
/*Articles Home Page*/
.home-articles-section {
    display: flex;
    flex-direction: column;
}

    .home-articles-section h2 {
        padding-left: 40px;
    }

.home-articles-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

    .home-articles-list li {
        margin: 0 20px;
        padding: 20px;
        border-radius: 6px;
    }

    .home-articles-list a {
        color: black;
    }



@media all and (max-width: 768px) {
    .home-articles-list {
        flex-direction:column;
    }
}
