@{
    ViewData["Title"] = "My Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <partial name="ProfileSidebarPartial"/>
    </div>
</div>