@model RCTH.Models.ViewModels.AppointmentInputModel;
@{
    this.ViewData["Title"] = "Appointment Form";
}

<div class="appointments-form-container">
    <h2>Заявете час за даряване на кръвна плазма</h2>

    <form class="make-appointment-form" asp-controller="Appointments" asp-action="Create">
        <input asp-for="FirstName" type="text" name="FirstName" placeholder="Име" />
        <input asp-for="LastName" type="text" name="LastName" placeholder="Фамилия" />
        <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Телефонен номер" />
        <input asp-for="DateAndTime" type="datetime-local" name="DateAndTime" />
        <button type="submit">Изпрати</button>
    </form>


</div>