@{
    this.ViewData["Title"] = "Admin Redirect";
}
<div class="text-center mb-4">
    <h2>Администрация:</h2>
</div>
<div class="text-center">
    <div class="redirectButtons btn-group-vertical">
        <li class="navigarion-list-item">
            <a asp-area="Administration" asp-controller="Donations" asp-action="Index">Кръводарения</a>
        </li>
        <li class="navigarion-list-item">
            <a asp-area="Administration" asp-controller="MedResults" asp-action="Index">Изследвания</a>
        </li>
        <li class="navigarion-list-item">
            <a asp-area="Administration" asp-controller="Events" asp-action="Index">Събития</a>
        </li>
        <li class="navigarion-list-item">
            <a asp-area="Administration" asp-controller="Articles" asp-action="Index">Статии</a>
        </li>
    </div>
</div>