@{
    this.ViewData["Title"] = "Admin Redirect";
}

<h1> buttons which redirect to admin section</h1>

<button type="button" class="btn btn-primary">
    <a asp-area="Administration" asp-controller="Donations" asp-action="Index">Кръводарения</a>
</button>
<button type="button" class="btn btn-primary">
    <a asp-area="Administration" asp-controller="MedResults" asp-action="Index">Изследвания</a>
</button>
<button type="button" class="btn btn-primary">
    <a asp-area="Administration" asp-controller="Events" asp-action="Index">Събития</a>
</button>
<button type="button" class="btn btn-primary">
    <a asp-area="Administration" asp-controller="Articles" asp-action="Index">Статии</a>
</button>
