
@model RCTH.Models.ViewModels.EventViewModel

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@Model.EventTitle</h2>
        </div>

        <p>
            @Model.Description
        </p>
        <p class="mt-2">@Model.Date</p>
        <p class="mt-2">@Model.Location</p>

    </div>

</section>