@model RCTH.Areas.Identity.Data.MedResult

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добави изследване</h1>

<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonationId" class="control-label"></label>
                <select asp-for="DonationId" class ="form-control" asp-items="ViewBag.DonationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="dateReleased" class="control-label"></label>
                <input asp-for="dateReleased" class="form-control" />
                <span asp-validation-for="dateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
