@model RCTH.Areas.Identity.Data.MedResult

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добави</h1>

<h4>Изследване</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonationId" class="control-label"></label>
                <select asp-for="DonationId" class ="form-control" asp-items="ViewBag.DonationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="dateReleased" class="control-label"></label>
                <input asp-for="dateReleased" class="form-control" />
                <span asp-validation-for="dateReleased" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HIV" /> @Html.DisplayNameFor(model => model.HIV)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HepatitisB" /> @Html.DisplayNameFor(model => model.HepatitisB)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HepatitisC" /> @Html.DisplayNameFor(model => model.HepatitisC)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Syphilis" /> @Html.DisplayNameFor(model => model.Syphilis)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PCR" class="control-label"></label>
                <input asp-for="PCR" class="form-control" />
                <span asp-validation-for="PCR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

