@*FAQ*@
<section class="faq-section">
    <h2>Често задавани въпроси</h2>
    <ul class="faq-section-list">
        <li>
            <button type="button" class="collapsible">Кой може да дарява кръв?</button>
            <div class="content">
                <p>
                    Всеки здрав човек на възраст от 18 до 65 години, който тежи повече от 50 кг, не е приемал никакви медикаменти поне 48 часа и за когото лекар прецени, че кръводаряването не застрашава здравето му и дарената от него кръв е безопасна за болните, нуждаещи се от нея, може да стане дарител.
                    Мъжете могат да даряват кръв 5 пъти в рамките на една календарна година, а жените – 4 пъти, като интервалът между две кръводарявания трябва да бъде минимум 2 месеца.
                </p>
            </div>
        </li>
        <li>
            <button type="button" class="collapsible">Как да се подготвим за кръводаряването?</button>
            <div class="content">
                <p>
                    Два-три дни преди акта на кръводаряване човек трябва да се храни редовно и разнообразно – това заздравява силите на организма и повишава качеството на кръвта. Кръводаряването не трябва да се извършва на гладно. Кръводарителя трябва да е сигурен, че е здрав и отпочинал. След кръводаряването се приемат повече калорични течности и храни.

                </p>
            </div>
        </li>
        <li>
            <button type="button" class="collapsible">Каква е  процедура за даряване на кръв?</button>
            <div class="content">
                <p>
                    Попълва се въпросник относно вашето здравословно състояние.

                    Следват:

                    Преглед и личен разговор с лекар.
                    Предварително изледване на кандидат кръводарителя - вземат се няколко капки кръв от пръста за експресно определяне на кръвна група и хемоглобин. Ако хемоглобинът е под 125 г/л за жените и под 135 г/л за мъжете, кръводаряването не се разрешава.
                    Кръводаряване - количеството на дарената кръв е между 405 и 450 мл. Сакът, в които тя се събира, има специален разтвор с обем 63 мл. Той подържа живота на кръвните клетки и благодарение на него кръвта и кръвните съставки запазват лечебните си качества в срок до 36 дни.
                    Важно: Ако по време на кръводаряването дарителят се почувства зле, процесът на кръвовземане се преустановява. В този случай дарената кръв няма качества да се прелее на пациент, но не се изхвърля. Използва се за производство на кръвни продукти с определен лечебен ефект.

                    Описаната процедурата трае най-много 40 мин.
                </p>
            </div>
        </li>
        <li>
            <button type="button" class="collapsible">
                Какво се препоръчва след кръводаряване?
            </button>
            <div class="content">
                <p>
                    Компресивната превръзка следва да остане на ръката Ви най-малко 2 (два) часа.

                    Препоръчваме да не пушите най-малко 2 (два) часа след приключване на кръвовземането.

                    Не натоварвайте ръката на убождането най-малко 4 (четири) часа след приключване на кръвовземането.

                    Постарайте се да приемате повече калорични течности и храни в първите 3 (три) дни след кръвовземането. През първите 24 часа обемът на взетата кръв се възстановява напълно. Вегетарианската храна не пречи за възстановявянето.

                    В първите часове след кръводаряването отбягвайте силно задимени, с висока температура и влажност помещения.

                    Тези от Вас, които извършват професионално или любителски рискови дейности (пилотиране на самолети, управление на автобуси или влакове, работа с кранове, качване на подвижни стълби или скелета, делтапланеризъм, катерене и гмуркане), следва да изчакат най-малко 12 часа, преди да се върнат към тях.

                    При появили се случайно оплаквания от Вашето здраве, които свързвате с процеса на кръводаряване, моля, позвънете на тел. +359 2 9210 477 в рамките на работното време на НЦТХ или се обърнете към Вашия личен лекар.
                </p>
            </div>
        </li>

        <li>
            <button type="button" class="collapsible">
                За колко време се възстановява кръвта?
            </button>
            <div class="content">
                <p>
                    Количествено кръвта се възстановява за около едно денонощие, а качествено – за 3-4 седмици.
                </p>
            </div>
        </li>
        <li>
            <button type="button" class="collapsible">
                Кой се нуждае от дарената кръв?
            </button>
            <div class="content">
                <p>
                    Кръвта се използва за лечение при пациенти с остри кръвозагуби, причинени от травми, за лечение на тежки изгаряния, при планови и спешни хирургични и акушерски интервенции, при AB0 и Rh несъвместимост на майката и плода, за лечение на злокачествени заболявания, както и за подържане живота на пациенти с различни вродени анемии и хемофилии.
                </p>
            </div>
        </li>
        <li>
            <button type="button" class="collapsible">
                Кой не може да дарява кръв?
            </button>
            <div class="content">
                <p>
                    Не се допускат хора, които страдат от заболявания като СПИН, хепатит, сифилис, туберкулоза, токсоплазмоза, бруцелоза, отосклероза и Мениеров синдром, бронхит, алергии, хроничен остеомиелит и деформации на костите, ревматизъм, язва на стомаха или дванадесетопръстника, псориазис, екземи по кожата, глаукома и т.н.

                    Противопоказани са всички остри заразни болести (през време на боледуването и реконвалесцентния период). Хората, които са имали контакт със заразно болни – за период, равен на инкубационния, също не могат да даряват кръв. Проблем е наличието на сърдечно-съдово заболяване, тропически инфекции, костно-мозъчни, бъбречни и чернодробни прблеми.

                    Кръводаряване не се извършва и в случаи, когато по преценка на лекаря или освидетелстващото лице този акт на съпричастност представлява опасност за здравето на дарителя.
                </p>
            </div>
        </li>

    </ul>
</section>
@*END FAQ*@
