<section class="contacts-wrapper">
    <h2>Ще се радваме да се свържете с нас</h2>
    <div class="map-wrapper iframe-container">
        <iframe width="850" height="400" style="border: 0px solid #000000" src="https://www.google.com/maps?q=43.214623, 27.918015&amp;z=16&amp;t=m&amp;output=embed"></iframe>
    </div>
    <article>
        <div>
            <h3>Адрес: гр. Варна бул.„Цар Освободител“ № 100 РЦТХ-Варна;</h3>
            <p>Телефони: 052 / 681 810 – Директор; 052 / 681 811- Деловодство на РЦТХ;</p>
            <p> Факс: 052 / 681 809</p>
            <p>
                Електронна поща: rcth_varna@abv.bg
            </p>
            <p>
                Официална страница на РЦТХ в интернет:  http://rcth-varna.com/
            </p>
            <p>
                Работно време на деловодство на РЦТХ: 07:30ч. до 14:30ч.
            </p>
        </div>
        <div>
            <h3> РЦТХ- Варна работно време</h3>
            <p> Понеделник – Петък : от 8 до 13 и от 13.30 до 17.30 с кръводарители.</p>
            <p> Събота : от 9 до 14 часа с кръводарители.</p>
            <p> Неделя : почивен ден</p>
            <p> Директор – д-р Жанина Йорданова - 052 681 810, факс 052 681 809</p>
            <p> Отделение „Кръводаряване“ началник на отдление - Д-р Добромир Стайков 052 681 804 и 052 681 805</p>
            <p> Организатор кръводаряване - Яни Василева - 052 681 801</p>
            <p> Отделение „Диагностика на донорската кръв“ – началник на отделение д-р Милена Карагьозова - 052 681 816, 681 817</p>
            <p> отделение „Преработка на кръвта“ – началник на отделение д-р Тинка Христова – 052 681 820</p>
            <p> отделение „Клинична Трансфузиология“- началник на отделение д-р Миглена Георгиева 052 681 855</p>
            <p> отделение„УККККС“- началник отделение – Д-р Лили Стефанова 052 681 815</p>
        </div>

    </article>
</section>