@model RCTH.Models.ViewModels.HomePageViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<partial name="BloodProgress" />

<partial name="_CampaignsPartial" />


<partial name="_ArticlesPartial" />

<partial name="_FAQPartial" />



<section class="donation-procedure-section">
    <h2>Процедура по кръводаряване</h2>
    <div class="iframe-container">
        <iframe width="695" height="400" src="https://www.youtube.com/embed/1lpT8wo9uv4?autoplay=1&mute=1" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</section>




<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>