<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>РЦТХ -ВАРНА</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <header id="navbar" class="sticky">
        <nav>
            <div class="logo-wrapper">
                <img src="/resources/blood-donation.svg" alt="logo">
                <h1><a asp-area="" asp-controller="Home" asp-action="Index">РАЙОНЕН ЦЕНТЪР ПО ТРАНФУЗИОННА ХЕМАТОЛОГИЯ-ВАРНА</a></h1>
            </div>
            <ul class="navigarion-list">
                <li class="navigarion-list-item">Как да помогна</li>
                <li class="navigarion-list-item">За нас</li>
                <li class="navigarion-list-item">
                    <a asp-area="" asp-controller="Articles" asp-action="All">Статии</a>
                </li>
                <li class="navigarion-list-item">
                    <a asp-area="" asp-controller="Questionnaire" asp-action="Index">Въпросник</a>
                </li>
                <li class="navigarion-list-item">
                    <a asp-area="" asp-controller="Appointments" asp-action="Create">Стани кръводарител</a>
                </li>

                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main-content">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BloodDonator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>