@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <li class="navigarion-list-item">
        <div class="dropdown">
            <button class="dropdown-btn-custom dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Моят профил
            </button>
            <div class="dropdown-content">
                <a class="dropdown-content-item" asp-area="" asp-controller="Profile" asp-action="Details">Профил</a>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit">Изход</button>
                </form>
            </div>
        </div>
    </li>
}

else
{
    <li class="navigarion-list-item">
        <a class="white nav-anchor-btn"  asp-area="Identity" asp-page="/Account/Login"><p>Вход</p></a>
    </li>
}

