<nav class="profile-sidebar">

    <ul class="profile-sidebar-ul">
        <li class="profile-sidebar-btn">
            <a asp-area="" asp-controller="Profile" asp-action="Details">
                Моят профил
            </a>
        </li>
        <li class="profile-sidebar-btn">
            <a asp-area="" asp-controller="MedResult" asp-action="MedResult">
                Моите изследвания
            </a>
        </li>
        <li class="profile-sidebar-btn">
            <a href="#">
                Настройки
            </a>
        </li>
    </ul>

</nav>