<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a class="nav-sidebar" asp-area="" asp-controller="Profile" asp-action="Details">
                    Моят профил
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-sidebar" asp-area="" asp-controller="MedResult" asp-action="MedResult">
                    Моите изследвания
                </a>
            </li>
            <li class="nav-item mt-2">
                <a class="nav-sidebar" href="#">
                    Настройки
                </a>
            </li>
        </ul>
    </div>
</nav>